	<!-- First panel -->
	<div class="text-center system-color" id="first-panel">
		<div class="flex flex-col gap-4">
			<h1 class="tracking-wide text-black font-bold text-5xl">Premium Natural<br>Stone Panels</h1>
			<h3 class="text-xl">Customize your space with our <br>diverse<br> range of stone panels.</h3>
		</div>
		<div class="w-full flex flex-row justify-center py-12">
			<button id="shop" class="bg-white px-5 py-4 rounded-lg text-medium font-medium system-color" type="button">
				Shop now
			</button>
		</div>
	</div>
	<!-- Second panel -->
	<div class="flex flex-col gap-8 px-6 py-8 bg-[#FFF] system-color text-center">
		<div class="flex flex-col gap-6 items-center">
			<img src="/icon-1.svg" alt="" width="60" height="60">
			<h3 class="font-bold">Expert Consultation</h3>
			<p class="text-sm">Our team provides personalized advice to help you select the perfect stone for your
				project.</p>
		</div>
		<div class="flex flex-col gap-6 items-center">
			<img src="/icon-2.svg" alt="" width="60" height="60">
			<h3 class="font-bold">Custom Design Solutions</h3>
			<p class="text-sm">We offer custom design services to create unique and stunning stone panel
				installations.</p>
		</div>
		<div class="flex flex-col gap-6 items-center">
			<img src="/icon-3.svg" alt="" width="60" height="60">
			<h3 class="font-bold">Professional Installation</h3>
			<p class="text-sm">Our skilled installers ensure precise and efficient installation of your stone
				panels.</p>
		</div>
	</div>
	<!-- Third panel -->
	<div class="flex flex-col gap-4 p-4 text-center main-bg text-white">
		<div class="images"></div>
		<div class="px-4">
			<h1 class="text-3xl font-normal tracking-wide">Naturally Elevating Spaces</h1>
			<p class="text-sm">We source our stone materials from the finest quarries around the world, ensuring
				unparalleled quality and durability. From initial consultation to final installation, we're here to
				guide you every step of the way.</p>
			<div class="py-8 px-2">
				<button class="w-full bg-white px-5 py-4 rounded-lg text-medium font-medium system-color" type="button">
					Contact Us
				</button>
			</div>
		</div>
	</div>
