<div class="flex flex-col gap-8 py-12 bg-red-200">
	<h1 class="text-4xl text-center text-white">Kontakt</h1>
	<section class="bg-white">
		<div class="flex flex-col gap-4 p-4">
			<h3 class="text-2xl">Skriv til os</h3>
			<div class="flex flex-col gap-2">
				<input class="outline-0 p-4 border border-[#e1e1e1] rounded-lg bg-[#f8f8f8]" type="text" placeholder="Navn"/>
				<input class="outline-0 p-4 border border-[#e1e1e1] rounded-lg bg-[#f8f8f8]" type="text" placeholder="E-mail"/>
				<input class="outline-0 p-4 border border-[#e1e1e1] rounded-lg bg-[#f8f8f8]" type="text" placeholder="Telefon"/>
				<input class="outline-0 p-4 border border-[#e1e1e1] rounded-lg bg-[#f8f8f8]" type="text" placeholder="Adresse"/>
				<input class="outline-0 p-4 border border-[#e1e1e1] rounded-lg bg-[#f8f8f8]" type="text" placeholder="Post nr"/>
				<input class="outline-0 p-4 border border-[#e1e1e1] rounded-lg bg-[#f8f8f8]" type="text" placeholder="By"/>
				<textarea class="outline-0 p-4 border border-[#e1e1e1] rounded-lg resize-none h-36 bg-[#f8f8f8]" type="text" placeholder="Skriv en besked"></textarea>
			</div>
		</div>
	</section>
</div>
