<div class="flex flex-row rounded-lg
 h-48 sm:h-full shadow-sm cursor-pointer sm:flex-col">
    <img class="bg-black object-cover shrink-0 w-36 rounded-s-lg
           sm:w-full sm:h-40 sm:min-h-36 sm:max-h-48 sm:rounded-t-lg sm:rounded-s-none"
         [src]="providedService()?.image">
    <div class="flex flex-col justify-between gap-4 p-4">
        <h5 class="u-text-body">{{ providedService()?.titleKey | translate }}</h5>
        <p class="text-sm u-text-body sm:min-h-[5.6rem]">{{ providedService()?.descriptionKey | translate }}</p>
    </div>
    <a class="flex flex-row gap-1 items-center u-text-brand">
        <span class="text-sm font-bold leading-none">{{ 'services.readMore' | translate }}</span>
        <span class="text-sm font-bold leading-none">Læs mere</span>
        <fa-icon [icon]="faArrowRight" size="xs"></fa-icon>
    </a>
</div>
